<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adibu.aplk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:fullBackupContent="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".informasi.InformasiDiterimaActivity"
            android:label="@string/infoditerima"
            android:parentActivityName=".informasi.InformasiMainActivity" />
        <activity
            android:name=".laporan.LaporanMainActivity"
            android:label="@string/laporan"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".informasi.InformasiTambahActivity"
            android:label="@string/informasi_baru"
            android:parentActivityName=".informasi.InformasiMainActivity" />
        <activity
            android:name=".AccountActivity"
            android:label="@string/Akun"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".informasi.InformasiDetailActivity"
            android:label="@string/detailpesan" />
        <activity
            android:name=".informasi.InformasiMainActivity"
            android:label="@string/informasi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".informasi.InformasiTerkirimActivity"
            android:label="@string/infoterkirim"
            android:parentActivityName=".informasi.InformasiMainActivity" />
        <activity
            android:name=".laporan.SuratDiterimaActivity"
            android:label="@string/suratditerima"
            android:parentActivityName=".laporan.LaporanMainActivity" />
        <activity
            android:name=".laporan.LaporanSayaActivity"
            android:label="@string/laporansaya"
            android:parentActivityName=".laporan.LaporanMainActivity" />
        <activity
            android:name=".laporan.LaporanSemuaActivity"
            android:label="@string/semualaporan"
            android:parentActivityName=".laporan.LaporanMainActivity" />

        <service android:name=".firebase.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".laporan.SuratDetailActivity"
            android:label="@string/detailsurat"
            android:parentActivityName=".laporan.SuratDiterimaActivity" />
        <activity
            android:name=".laporan.LaporanBuatActivity"
            android:label="@string/buatlaporan" />
        <activity android:name=".laporan.LaporanDetailActivity"></activity>
    </application>

</manifest>